.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pagination-right {
  display: flex;
  justify-content: flex-end; /* Выравнивание элементов по правому краю */
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;  /* Добавляет отступ снизу к лейблам */
}

#summary {
  background-color: #f8f9fa; /* Светло-серый цвет */
  padding: 10px;
  border-radius: 5px;
}

.badge {
  color: #ffffff; /* Черный цвет текста */
  margin-right: 2px; /* Добавляем отступ справа */
  margin-left: 2px; /* Добавляем отступ справа */
  font-size: 1rem; /* Увеличиваем размер шрифта */
}


.badge-time {
  background-color: #007bff; /* Цвет фона для бейджа времени */
  color: #fff; /* Цвет текста для бейджа времени */
}

.badge-success {
  background-color: #4caf50; /* Более насыщенный зеленый */
}

.badge-warning {
  background-color: #ff9800; /* Более насыщенный оранжевый */
}

.badge-danger {
  background-color: #e53935; /* Более насыщенный красный */
}

.truncate {
  max-width: 200px; /* или любое другое значение, которое вам подходит */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}